/*@font-color : white;
@background-color:black;*/

body, html {
    margin: 5px;
    padding: 0px;
}

body {
    font-family: Georgia, Arial, Helvetica;
    font-size: 10px;
    height: 100%;
    line-height: 1;
    text-align: center;
    width: 100%;
    word-spacing: 1.5px;
}

a {
    text-decoration: none;
}

#content_container {
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 900px;
    z-index: 10;
}

#maincontainer {
    display: none;
    padding-bottom: 0px;
}

.bottompad {
    clear: both;
    height: 10px;
    margin-top: 10px;
    position: relative;
    width: 500px;
}

.project_content {
    width: 900px;
}

.project_content img { margin: 0px 10px 10px 0px; }

.thumb_title {
    font-size: 15px;
    height: 18px;
    opacity: 0.6;
    padding-top: 2px;
    position: relative;
    text-align: right;
    top: -20px;
}

.project_thumb .cardimgcrop .main_img {
    margin-bottom: 0px;
    margin-left: 0px;
}

.project_thumb {
    float: left;
    height: 200px;
    margin: 0pt;
    position: relative;
    text-align: center;
}

.project_thumb .nohover { text-decoration: none; }

.cardimgcrop {
    height: 200px;
    min-width: 200px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 300px;
}

.toolset {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.thumb_title { min-width: 300px; }

.toolset_follow { margin-top: 1px; }

img {
    background: none repeat scroll 0% 0% transparent;
    border: 0px none;
    padding: 0px;
}

.nav_container.horizontal {
    border-bottom: 1px dotted #444444;
    clear: both;
    margin: 0;
    margin: 3px 0 5px;
}

.pageTitle {
    font-family: 'Lobster', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1em;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    word-spacing: 0em;
}

.pageTitle {
    left: -125px;
    margin: 0px;
    position: absolute;
    top: 6px
}

.pageTitle a {
    text-decoration: none
}


.topMenu {
    font-size: 20px;
    height: 50px;
    position: relative;
    text-align: right;
    vertical-align: bottom;
    width: 900px;
}

.topMenu span {
    color: Red;
    font-size: 30px;
}

.topMenu div {
    position: absolute;
    right: 0px
}

.topMenu a { margin: 0px }

.pageSubtitle {
    font-family: 'Cardo', serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 100;
    left: -10px;
    letter-spacing: 0em;
    line-height: 1em;
    position: relative;
    text-decoration: none;
    text-transform: none;
    word-spacing: 0em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px;
    text-shadow: #fff 0px 1px 1px;
}

.cardimgcrop img .hover { opacity: 1; }

.main_thumb_title {
    font-size: 22px;
    height: 32px;
    opacity: 0.6;
    padding-top: 3px;
    position: relative;
    text-align: right;
    top: -27px;
    padding-right:5px;
}

.main_img {
    height: 330px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 900px;
}
#schemeChangeDiv {
    position:absolute;
    right:0px;
}
#schemeChange {
    font-style:oblique;
}



.galleria-container {
    height: 775px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.galleria-container img {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

.galleria-stage {
    bottom: 60px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 10px;
}

.galleria-carousel .galleria-thumbnails-list {
    margin-left: 30px;
    margin-right: 30px;
}
.galleria-thumbnails {
    height:50px;
}
.galleria-thumbnails .galleria-image {
    cursor: pointer;
    float: left;
    height: 47px;
    margin: 0 5px 0 0;
    width: 60px;
}

.galleria-counter {
    bottom: 10px;
    font: normal 11px/1 arial, sans-serif;
    left: 10px;
    position: absolute;
    text-align: right;
    z-index: 2;
}

.galleria-loader {
    background: url(classic-loader.gif) no-repeat 2px 2px;
    display: none;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    z-index: 2;
}

.galleria-info {
    left: 15px;
    position: absolute;
    top: 15px;
    width: 50%;
    z-index: 2;
}

.galleria-info-text {
    /*background-color: rgba(0, 0, 0, .9);*/
    display: none;
    padding: 12px;
}

.galleria-info-title {
    font: bold 12px/1.1 arial, sans-serif;
    margin: 0;
}

.galleria-info-description {
    font: italic 12px/1.4 georgia, serif;
    margin: 0;
}

.galleria-info-title + .galleria-info-description { margin-top: 7px; }

.galleria-info-close {
    background-position: -753px -11px;
    cursor: pointer;
    display: none;
    height: 9px;
    opacity: .5;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 9px;
}

.galleria-info-link {
    background-position: -669px -5px;
    cursor: pointer;
    display: none;
    height: 20px;
    opacity: .8;
    position: absolute;
    width: 20px;
}

.galleria-info-link:hover, .galleria-info-close:hover { opacity: .5; }

.galleria-image-nav {
    height: 100%;
    left: 0;
    margin-top: 0px;
    position: absolute;
    top: 0;
    width: 100%;
}

.galleria-image-nav-left, .galleria-image-nav-right {
    background-position: 13px;
    cursor: pointer;
    height: 100%;
    left: 7px;
    margin-left: -10px;
    opacity: .7;
    position: absolute;
    width: 45px;
    z-index: 2;
}

.galleria-image-nav-right {
    background-position: -290px;
    left: auto;
    right: -4px;
    z-index: 2;
}

.galleria-image-nav-left:hover, .galleria-image-nav-right:hover { opacity: .5; }

.galleria-thumbnails-container {
    bottom: 0;
    height: 50px;
    left: 10px;
    position: absolute;
    right: 10px;
    z-index: 2;
}

.galleria-thumb-nav-left, .galleria-thumb-nav-right {
    background-position: -495px 3px;
    cursor: pointer;
    display: none;
    height: 40px;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 23px;
    z-index: 3;
}

.galleria-thumb-nav-right {
    background-position: -578px 3px;
    border-right: none;
    left: auto;
    right: 0;
}

.galleria-thumbnails-container .disabled, .galleria-thumbnails-container .disabled:hover {
    cursor: default;
    opacity: .2;
}

.galleria-thumb-nav-left:hover, .galleria-thumb-nav-right:hover {
    background-color: #111;
    opacity: 1;
}

.galleria-carousel .galleria-thumb-nav-left, .galleria-carousel .galleria-thumb-nav-right { display: block; }

.galleria-thumb-nav-left, .galleria-thumb-nav-right, .galleria-info-link, .galleria-info-close, .galleria-image-nav-left
, .galleria-image-nav-right {
    background-image: url(classic-map_.png);
    background-repeat: no-repeat;
}