body {
    background-color: white;
    color: black;
}

a {
    color: black;
}

.project_content {
    color: black;
}

.thumb_title {
    background-color: white;
    color: black;
}

.project_thumb .cardimgcrop .main_img {
    border: 0px solid white;
}

.pageTitle {
    color: black;
}

.pageTitle a {
    color: black;
}

.pageTitle a:hover { 
    color: black 
}

.main_thumb_title {
    background-color: white;
    color: black;
}

.galleria-container {
    background: white;
}

.galleria-thumbnails .galleria-image {
    background: white;
    border: 1px solid black;
}
.galleria-loader {
    background: white;
}

.galleria-counter {
    color: black;
}

.galleria-info-text {
    background-color: white;
}
.galleria-info-title {
    color: black;
}

.galleria-info-description {
    color: white;
}

.galleria-info-link {
    background-color: white;
}

.galleria-info-text {
    background-color: white;
}

.galleria-image-nav-left, .galleria-image-nav-right {
    background-color: white
}