<div class="project_thumb">
    <div>
        <a href='/Cuba_CockFight@2016/' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Cuba_CockFight@2016/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Cock fight in Cuba@2016</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Cuba@2016' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Cuba@2016/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Cuba@2016</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/NY@2015' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/NY@2015/Thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    NY@2015</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Independence_march@2014' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Independence_march@2014/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Independence march@2014</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Independence_march@2013' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Independence_march@2013/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Independence march@2013</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Solidarity_strike@2013' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Solidarity_strike@2013/Thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Solidarity strike@2013</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Boksing@2011' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Boksing@2011/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Boksing@2011</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Vietnam@2011' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Vietnam@2011/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Vietnam@2011</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Silk_Factory@2011' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Silk_Factory@2011/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Silk Factory@2011</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/At_the_park@2011' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/At_the_park@2011/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    At the park@2011</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Maraton@2010' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Maraton@2010/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Maraton@2010</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Ethnoport_2010' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Ethnoport_2010/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Ethnoport 2010</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Motion_Trio@2010' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Motion_Trio@2010/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Motion Trio@2010</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Konrad_D' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Konrad_D/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Konrad D</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Syria_2009' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Syria_2009/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Syria 2009</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Syria-Arwad_2009' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Syria-Arwad_2009/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Syria-Arwad 2009</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Syria-Wedding_2009' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Syria-Wedding_2009/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Syria-Wedding 2009</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Opener_2009' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Opener_2009/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Opener 2009</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/Opener_2008' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/Opener_2008/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    Opener 2008</span>&nbsp;</div>
        </a>
    </div>
</div>

<div class="project_thumb">
    <div>
        <a href='/India_2007' class="nohover" rel="history" onfocus=" this.blur() " style="opacity: 0.7">
            <div class="cardimgcrop">
                <img src='/Data/Images/India_2007/thumb.jpg' style="-ms-opacity: 0.7; opacity: 0.7"></div>
            <div class="thumb_title ">
                <span class="text">
                    India 2007</span>&nbsp;</div>
        </a>
    </div>
</div>